@mixin rgbashadow($x, $y, $blur, $rgb, $transparency) {
  -webkit-box-shadow: $x $y $blur rgba($rgb, $transparency);
  -moz-box-shadow:    $x $y $blur rgba($rgb, $transparency);
  box-shadow:         $x $y $blur rgba($rgb, $transparency);
}

@mixin shadowtransition {
  transition: -webkit-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  transition: -moz-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

.timeline-list-link {
  padding:20px;
  text-align: center;
}

$blue: #007BC8;
$red: #e51c23;
