@mixin rgbashadow($x, $y, $blur, $rgb, $transparency) {
  -webkit-box-shadow: $x $y $blur rgba($rgb, $transparency);
  -moz-box-shadow:    $x $y $blur rgba($rgb, $transparency);
  box-shadow:         $x $y $blur rgba($rgb, $transparency);
}

@mixin shadowtransition {
  transition: -webkit-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  transition: -moz-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

.cd-horizontal-timeline {
  ol, ul, li {
    margin:0;
    padding:0;
    list-style: none;
    list-style-image: none;
  }
  padding-bottom: 40px;
}

.cd-horizontal-timeline .timeline-item-wrapper {
  padding:20px;
}
.cd-horizontal-timeline .timeline-item-wrapper:not(:first-child) {
  padding-top: 0;
}
.cd-horizontal-timeline .timeline-item {
  background-color: #fff;
  margin:10px 0;
  position: relative;
  z-index: 5;
  @include rgbashadow(0,0,20px,#000,.15);
  @include shadowtransition;
  img {
    width:100%;
    height: auto;
    display: block;
  }
  &:hover {
    @include rgbashadow(0,0,25px,#000,.3);
  }
  .timeline-item-content {
    padding:20px;
  }
  h3 {
    font-size: 130%;
  }
  @media screen and (min-width:768px) {
    h3 {
      font-size: 180%;
    }
  }
}
.timeline-item {
  img {
    width:100%;
    height: auto;
    display: block;
  }
  .timeline-item-date {
    font-size: 85%;
    margin-bottom: 10px;
  }
}

.events li {
  font-size: 14px;
  text-transform: uppercase;
}
.cd-timeline-view-all {
  text-align: center;
  font-size: 85%;
  position: absolute;
  bottom:20px;
  left:0;
  right:0;
}

.timeline-view-all-wrapper {
  ol, li {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
  }
  .timeline-item {
    margin: 0 0 20px 0;
    padding-bottom: 20px;
    border-bottom:1px solid #d7d7d7;
    img {
      display: none;
    }
  }
}
body #mobile-navigation-wrapper {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height:100vh;
  width:100vw;
  z-index: 10;
  padding:0 20px 40px;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;

  #mobile-navigation {
    max-width: 320px;
    margin: 0 auto;
  }
  &:before {
    content: "\f057";
    font-family: 'FontAwesome';
    position: fixed;
    top:20px;
    right:20px;
    font-size:24px;
    z-index: 11;
  }
  a {
    text-align: center;
  }
}

// Timeline item navigation
.cd-timeline-item-navigation {
  text-align: center;
  font-size:200%;
  li {
    display: inline;
  }
  a {
    display: inline-block;
    padding:0 20px;
  }
}

.no-touch .cd-timeline-item-navigation a:hover {
  border-color: #7b9d6f;
}
.cd-timeline-item-navigation a.inactive {
  cursor: not-allowed;
  color:#aaa;
}

.no-touch .cd-timeline-item-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

// Vertical Timeline Styles
.cd-vertical-timeline {
  ol, li {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
  }
  padding-bottom: 50px;
}
.cd-vertical-timeline {
  position: relative;
  .events-content {
    position: relative;
  }
  .events-content:before {
    content: " ";
    position: absolute;
    top:20px;
    bottom:20px;
    left:20px;
    width:2px;
    background-color: #dfdfdf;
  }
  .events-content:after {
    content: " ";
    position: absolute;
    width:10px;
    height:2px;
    background-color: #dfdfdf;
    bottom:20px;
    left:16px;
  }
  @media screen and (min-width:768px) {
    .events-content:before {
      top:20px;
      bottom:20px;
      left:50%;
    }
    .events-content:after {
      bottom:20px;
      left:calc(50% - 4px);
    }
  }
}
.cd-vertical-timeline {

  .timeline-item {

    background-color: #fff;
    margin:10px 20px 20px 50px;
    position: relative;
    clear:both;
    z-index: 5;
    @include rgbashadow(0,0,20px,#000,.15);
    @include shadowtransition;
    img {
      width:100%;
      height: auto;
      display: block;
    }
    &:hover {
      @include rgbashadow(0,0,25px,#000,.3);
    }
    .timeline-item-content {
      padding:20px;
    }
    h3 {
      font-size: 130%;
    }
  }
  .timeline-single-item  {
    position: relative;
  }
  .timeline-single-item:before {
    display: block;
    width:20px;
    height:20px;
    border-radius: 100%;
    background:#cfb87c;
    position: absolute;
    top:0;
    left:11px;
    z-index: 1;
    content: " ";
    @include rgbashadow(0,0,10px,#000,.25);
    border:3px solid #fff;
  }
  @media screen and (min-width:768px) {
    & .timeline-item {
      margin:10px 20px 20px;
    }
    .timeline-single-item {
      width:100%;
      max-width: 50%;
      clear:both;
    }
    .timeline-single-item:nth-child(odd)  {
      float:left;
      &:before {
        left:auto;
        right:-11px;
      }
    }
    .timeline-single-item:nth-child(even) {
      float:right;
      &:before {
        right:auto;
        left:-9px;
      }
    }

  }
}

.timeline-image img {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}
